<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whitney Houston’s webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <center>
     <h1>Nice to see you!</h1>

     <img src="https://media.glamourmagazine.co.uk/photos/6138b2cbd22f06d735f77f74/3:4/w_591,h_788,c_limit/Whouston_GL_13feb12_RF_b.jpg"
     width="200"
     height="240"
     alt="Whitney Houston" title="Whitney Houston"></center>

     <center>
     <h2>General information</h2>
     </center>
     <h3>name: Whitney Houston</h3>
     <h3>occupation: a singer</h3>

</body>
</html>