<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whitney Houston's webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_2.css') }}">
</head>
<body>
<center>
     <h1>Nice to see you!</h1>

    <img src="https://media.glamourmagazine.co.uk/photos/6138b2cbd22f06d735f77f74/3:4/w_591,h_788,c_limit/Whouston_GL_13feb12_RF_b.jpg"
     width="200"
     height="240"
     alt="Whitney Houston" title="Whitney Houston">

     <h2>Contact me</h2>
     </center>
     <strong>
     <ul>
       <li>email: whouston@gmail.com</li>
       <li>phone number: +14896692429</li>
     </ul>
     </strong>


 <form action="/message" method="POST">
  <label>Send your message</label>
     <textarea rows="5" cols="60" name="comment">
</textarea>
<input type="submit">
</form>
<br>

</body>
</html>